#kt_drawer_chat_messenger .card-body {
    max-height: calc(~"100vh - 230px");
}

#kt_chat_contacts_header {
    .card-title {
        width: 60%;
        margin: 0;
    }

    .card-toolbar {
        width: 40%;
        margin: 0;
    }
}
