<div [@routerTransition]>

    <sub-header [description]="" [title]="title | localize">

        <div role="actions">

            <button *ngIf="this.id" (click)="clearForm(id)" class="btn btn-sm btn-light-danger fw-bold me-2">
                <i class="fa-duotone fa-trash fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </i>
            </button>
            <button (click)="save()" [buttonBusy]="saving" [disabled]="form.invalid" class="mr-2"
                class="btn btn-sm fw-bold btn-primary" id="save" label="{{ l(this.id ? 'Update' : 'Save') }}"
                type="submit">
                <i class="fa-duotone fa-circle-plus fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                {{ l(this.id ? 'Update' : 'Save') }}
            </button>
            <button (click)="close()" class="mr-2" class="btn btn-sm fw-bold btn-light-success" id="cancel">
                <i class="fa-duotone fa-circle-xmark fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                {{ l('Cancel') }}
            </button>
        </div>
    </sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form [formGroup]="form" autocomplete="off">
                    <div appCustomEnter>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                <div>
                                    <label class="required form-label" for="FinancialYear_FromMiti">
                                        {{ l('From Miti') }}
                                    </label>
                                    <div>
                                        <ne-datepicker [formControl]="form.controls['fromMiti']"
                                            [dateFormat]="'yyyy/MM/dd'" language="en" [todayBtn]="true" id="fromMiti"
                                            name="fromMiti"></ne-datepicker>
                                    </div>
                                    <div *ngIf="diffrenceDay < 0">
                                        <div class="alert alert-danger alert-height mt-1" role="alert">
                                            <div class="alert-div">From Miti is Invalid!</div>
                                        </div>
                                    </div>
                                    <div
                                        *ngIf="this.form.get('fromMiti').invalid && (this.form.get('fromMiti').dirty || this.form.get('fromMiti').touched)">
                                        <div class="alert alert-danger alert-height mt-1" role="alert">
                                            <div class="alert-div">From Miti is required!</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                <div>
                                    <label class="required form-label" for="FinancialYear_ToMiti">{{ l('To Miti')
                                        }}</label>
                                    <div>
                                        <ne-datepicker (keypress)="onSaveOnInput($event)" name="toMiti"
                                            (ngModelChange)="diffDateMiti($event)" [dateFormat]="'yyyy/MM/dd'"
                                            [formControl]="form.controls['toMiti']" id="FinancialYear_ToMiti"
                                            language="en"></ne-datepicker>
                                    </div>
                                    <div
                                        *ngIf="this.form.get('toMiti').invalid && (this.form.get('toMiti').dirty || this.form.get('toMiti').touched)">
                                        <div class="alert alert-danger alert-height mt-1" role="alert">
                                            <div class="alert-div">To Miti is required!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <app-attendance-calender (ngModelChange)="diffdueDate($event)"
                                    [dateFormat]="'yyyy/MM/dd'" [placeholder]="'yyyy/MM/dd'" [weekend]="7">
                                </app-attendance-calender>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<erp-key-event (closeEvent)="keyClose($event)" (deletEvent)="clearForm($event)" (saveEvent)="keySave($event)"
    [id]="this.id ? this.id : null"></erp-key-event>