<a href="/">
    @if (!appSession.tenant || !appSession.tenant.HasLogo()) {
        <img alt="logo" class="h-55px h-lg-55px" src="/assets/common/images/app-logo-on-dark.svg" />
    }
    @if (appSession.tenant && appSession.tenant.HasLogo()) {
        <img
            [src]="
                remoteServiceBaseUrl +
                '/TenantCustomization/GetTenantLogo?skin=dark' +
                '&tenantId=' +
                appSession.tenant.id
            "
            alt="logo"
            class="h-55px h-lg-55px"
        />
    }
</a>
