.responsive-entry-table {
    --responsive-entry-cell-width: 351px;
    --responsive-entry-cell-width-sm: 351px;
    --responsive-entry-cell-width-xs: 170px;
    --responsive-entry-cell-margin-top-sm: 0;
}
@media (min-width: 435px) and (max-width: 575px) {
    .responsive-entry-table { --responsive-entry-cell-width-sm: 205px; }
}
@media (max-width: 435px) {
    .responsive-entry-table { --responsive-entry-cell-width-sm: 170px; }
}
@media (max-width: 315px) {
    .responsive-entry-table {
        --responsive-entry-cell-width-sm: 232px;
        --responsive-entry-cell-width-xs: 232px;
        --responsive-entry-cell-margin-top-sm: 17px;
    }
}
input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
.table-responsive table thead th {
    font-size: 12px;
}

.card-header-custom {
    background: linear-gradient(to right, #3b6091, #3498db);
}

.option-item {
    transition: all 0.2s;
}

.option-item:hover {
    padding-left: 8px;
    border-radius: 6px;
    background-color: #f1f5f9;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to { visibility: hidden; }
}
