<div class="input-group">
    <input (change)="onChange()" [(ngModel)]="data" [type]="isVisible ? 'text' : 'password'" class="form-control" />
    <div class="input-group-append">
        <button (click)="toggleVisibility()" class="btn btn-sm btn-primary" type="button">
            @if (!isVisible) {
                <i class="far fa-eye text-white"></i>
            }
            @if (!isVisible) {
                <span>{{ 'Show' | localize }}</span>
            }
            @if (isVisible) {
                <i class="far fa-eye-slash text-white"></i>
            }
            @if (isVisible) {
                <span>{{ 'Hide' | localize }}</span>
            }
        </button>
    </div>
</div>
