<div [@routerTransition]>
    <sub-header [description]="" [title]="'VoucherType' | localize">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div role="search">
                <div class="position-relative w-md-400px me-md-2">
                    <i
                        class="fa-duotone fa-magnifying-glass fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"><span
                            class="path1"></span><span class="path2"></span></i>
                    <input (keyup.enter)="searchValueOnApiCall($event.target.value)" [(ngModel)]="filterText"
                        [ngModelOptions]="{ standalone: true }"
                        class="form-control form-control-solid ps-10 headerSearch" name="search" placeholder="Search"
                        type="text" value="">
                </div>
            </div>
            <div role="actions">
                <button (click)="exportSelectedRows()" *ngIf="selectedRows.length > 0" class="btn btn-sm btn-secondary">
                    <i class="fa-duotone fa-file-excel"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Export' | localize }}
                    </span>
                </button>
                <button (click)="deleteSelectedRows()"
                    *ngIf="selectedRows.length > 0 && ('Pages.VoucherTypes.Delete' | permission)"
                    class="btn btn-sm btn-danger">
                    <i class="fa-duotone fa-trash"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Delete' | localize }}
                    </span>
                </button>
                <button (click)="addRoute()" *ngIf="('Pages.VoucherTypes.Create' | permission)"
                    class="btn btn-sm btn-primary">
                    <i class="fa fa-plus btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Create' | localize }}
                    </span>
                </button>
            </div>
        </div>
    </sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="ag-theme-balham">
                    <ag-grid-angular (cellDoubleClicked)="onCellDoubleClicked($event)"
                        (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)"
                        (selectionChanged)="onSelectionChanged()" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [getContextMenuItems]="getCustomContextMenuItems"
                        [rowData]="rowData" style="width: 100%; " [style.height.px]="screenHeight"></ag-grid-angular>
                </div>

                <app-pagination (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
                    [currentPage]="currentPage" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                    [totalRecords]="totalRecords"></app-pagination>
            </div>
        </div>
    </div>
</div>