<div
    #editModal="bs-modal"
    [config]="{ backdrop: 'true' }"
    appBsModal
    aria-hidden="true"
    aria-labelledby="editModal"
    class="modal fade"
    role="dialog"
    tabindex="-1"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @if (active) {
                <form #MoveTenantsForm="ngForm" (ngSubmit)="save()" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <span>{{ 'MoveTenantsOfEdition' | localize }}</span>
                        </h5>
                        <button
                            (click)="close()"
                            [attr.aria-label]="l('Close')"
                            class="btn-close"
                            type="button"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-5">
                            <a
                                [href]="appBaseUrl + '/app/admin/tenants?editionId=' + moveTenantsInput.sourceEditionId"
                                [queryParams]="{ editionId: moveTenantsInput.sourceEditionId }"
                                [routerLink]="['/app/admin/tenants']"
                                target="_blank"
                            >
                                {{ 'MoveTenantsOfEditionDescription' | localize: tenantCount }}
                            </a>
                        </div>
                        <div class="mb-5">
                            <label class="form-label">{{ 'Edition' | localize }}</label>
                            <select
                                [(ngModel)]="moveTenantsInput.targetEditionId"
                                class="form-select"
                                name="expiringEdition"
                                required
                            >
                                <option value="">{{ 'Select' | localize }}</option>
                                @for (targetEdition of targetEditions; track targetEdition) {
                                    <option [value]="targetEdition.value">
                                        {{ targetEdition.displayText }}
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            (click)="close()"
                            [disabled]="saving"
                            class="btn btn-sm btn-light-primary fw-bold"
                            type="button"
                        >
                            {{ l('Cancel') }}
                        </button>
                        <button
                            [busyText]="l('SavingWithThreeDot')"
                            [buttonBusy]="saving"
                            [disabled]="!isFormValid"
                            class="btn btn-sm btn-primary fw-bold"
                            type="submit"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
