::ng-deep .fd-toolbar--info.fd-toolbar--active {
    background-color: #1373d3;
    background-color: #2581be;
    background: linear-gradient(90deg, #1b2e82, #228daf, #1c3d8a);
    color: white !important;
    height: 35px;
}

::ng-deep .fd-table {
    font-family: ProximaNova !important
}

::ng-deep .fd-table,
.fd-table__body,
.fd-table__cell,
.fd-table__footer,
.fd-table__header,
.fd-table__row,
.fd-table__text {
    font-family: ProximaNova !important
}

::ng-deep .fd-dialog__content {
    width: 40vw;
}

.data td p {
    font-family: -apple-system, BlinkMacSystemFont, 'ProximaNova', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Metric;
}

.table-box {
    transition: box-shadow 0.3s ease-in-out;
}

.table-box:hover {

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.301);
}

.advsearch {
    background-color: #1c3d8a;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.advsearch:hover {
    background-color: white;
    color: #1c3d8a;
    font-weight: bold;
}

::ng-deep .topup-header .fd-bar--header,
.fd-bar--subheader {
    background: #1c3d8a;
    color: white !important;
}

::ng-deep .fd-title {
    color: white !important;
}

th {
    padding: 0.15em;
    text-align: left;
    outline: initial;
    text-align: center;
    height: 40px;
    padding-bottom: 8px;
}

td {
    padding: 0.15em;
    text-align: left;
    outline: initial;
    text-align: center;
}