:host ::ng-deep .app-sub-header-title > h1 {
    font-family: 'AvenirNext', Helvetica, sans-serif;
    font-size: 1.75rem !important;
    line-height: 1.2 !important;
}

:host ::ng-deep .academic-report-grid.ag-theme-balham .ag-header-cell-text,
:host ::ng-deep .academic-report-grid.ag-theme-balham .ag-header-group-text {
    line-height: 18px !important;
}

:host ::ng-deep .academic-report-grid.ag-theme-balham .ag-header-row {
    contain: layout style !important;
}
