<div>
    <sub-header [description]="" [title]="'PaymentMaster'">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div role="search">
                <div class="position-relative w-md-400px me-md-2">
                    <i
                        class="fa-duotone fa-magnifying-glass fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"><span
                            class="path1"></span><span class="path2"></span></i>
                    <input (keyup.enter)="searchValueOnApiCall($event.target.value)" [(ngModel)]="filterText"
                        [ngModelOptions]="{ standalone: true }"
                        class="form-control form-control-solid ps-10 headerSearch" placeholder="Search" type="text"
                        value="">
                </div>
            </div>
            <div role="actions">
                <button (click)="exportSelectedRows()" *ngIf="selectedRows.length > 0" class="btn btn-sm btn-secondary">
                    <i class="fa-duotone fa-file-excel"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Export' | localize }}
                    </span>
                </button>
                <button (click)="deleteSelectedRows()"
                    *ngIf="selectedRows.length > 0 && ('Pages.PaymentMasters.Delete' | permission)"
                    class="btn btn-sm btn-danger">
                    <i class="fa-duotone fa-trash"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Delete' | localize }}
                    </span>
                </button>
                <span (click)="advancedFiltersAreShown = !advancedFiltersAreShown" *ngIf="!advancedFiltersAreShown"
                    class="btn btn-sm btn-outline-secondary clickable-item">
                    <i class="fa fa-angle-down"></i>
                    {{ 'ShowAdvancedFilters' | localize }}
                </span>
                <span (click)="advancedFiltersAreShown = !advancedFiltersAreShown" *ngIf="advancedFiltersAreShown"
                    class="btn btn-sm btn-outline-secondary clickable-item">
                    <i class="fa fa-angle-up"></i>
                    {{ 'HideAdvancedFilters' | localize }}
                </span>
                <button (click)="addRoute()" *ngIf="'Pages.PaymentMasters.Create' | permission"
                    class="btn btn-sm btn-primary">
                    <i class="fa fa-plus btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Create' | localize }}
                    </span>
                </button>
            </div>
        </div>
    </sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form [formGroup]="form" autocomplete="off">
                    <div [hidden]="!advancedFiltersAreShown" class="col-12 px-0">
                        <div class="hidden-filter">
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3 col-md-3 col-xs-12">
                                        <div class="mb-1 form-item">
                                            <label class="form-label" for="fromMiti">{{ l('From-Miti') }}</label>
                                            <ne-datepicker [dateFormat]="'yyyy/MM/dd'"
                                                [formControl]="form.controls['fromMiti']" [isfinancialYear]="true"
                                                [npDatePickerId]="'fromMiti'" [placeholder]="'yyyy/MM/dd'"
                                                [todayBtn]="true" language="en" theme="light"></ne-datepicker>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-xl-3 col-md-3 col-xs-12">
                                        <div class="mb-1 form-item">
                                            <label class="form-label" for="toMiti">{{ l('To-Miti') }}</label>
                                            <ne-datepicker [dateFormat]="'yyyy/MM/dd'"
                                                [formControl]="form.controls['toMiti']" [isfinancialYear]="true"
                                                [npDatePickerId]="'toMiti'" [placeholder]="'yyyy/MM/dd'"
                                                [todayBtn]="true" language="en" theme="light"></ne-datepicker>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-xl-3 col-md-3 col-xs-12">
                                        <button (click)="loadPage(currentPage)"
                                            class="btn btn-sm btn-primary mt-6">
                                            <i class="fa fa-search btn-md-icon"></i>
                                            <span class="d-none d-md-inline-block">
                                                {{ 'Search' | localize }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <span (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                *ngIf="!advancedFiltersAreShown" class="clickable-item text-muted">
                                <i class="fa fa-angle-down"></i>
                                {{ 'ShowAdvancedFilters' | localize }}
                            </span>
                            <span (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                *ngIf="advancedFiltersAreShown" class="clickable-item text-muted">
                                <i class="fa fa-angle-up"></i>
                                {{ 'HideAdvancedFilters' | localize }}
                            </span>
                        </div>
                    </div> -->
                </form>

                <div class="ag-theme-balham">
                    <ag-grid-angular (cellDoubleClicked)="onCellDoubleClicked($event)"
                        (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)"
                        (selectionChanged)="onSelectionChanged()" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [getContextMenuItems]="getCustomContextMenuItems"
                        [rowData]="rowData" style="width: 100%; " [style.height.px]="screenHeight"></ag-grid-angular>
                </div>

                <app-pagination (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
                    [currentPage]="currentPage" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                    [totalRecords]="totalRecords"></app-pagination>
            </div>
        </div>
    </div>
    <viewPaymentMasterModal #viewPaymentMasterModal></viewPaymentMasterModal>
</div>