:host ::ng-deep .daybook-debit-row .ag-cell[col-id='debit'] {
    color: var(--bs-success);
    font-weight: 700;
}

:host ::ng-deep .daybook-credit-row .ag-cell[col-id='credit'] {
    color: var(--bs-danger);
    font-weight: 700;
}
