<a href="/">
  @if (!appSession.tenant || !appSession.tenant.HasLogo()) {
    <img
      [src]="defaultLogo"
      alt="logo"
      class="h-20px h-lg-30px"
      />
  }
  @if (appSession.tenant && appSession.tenant.HasLogo()) {
    <img
        [src]="
            remoteServiceBaseUrl +
            '/TenantCustomization/GetTenantLogo?skin=' +
            skin +
            '&tenantId=' +
            appSession.tenant.id
        "
      alt="logo"
      class="h-20px h-lg-30px"
      />
  }
</a>
