:root {
    --kt-progress-bar-color: #ffffff;
    --kt-progress-bar-bg: #009ef7;
}

.swal2-toast-custom-width {
    max-width: 450px !important;
    width: auto !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px !important;
}