@if (initialized) {
    <div [busyIf]="dataTableHelper.isLoading" class="col app-datatable-container">
        <ag-grid-angular
            class="ag-theme-balham w-100"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="items"
            [domLayout]="'autoHeight'"
            [animateRows]="true"
        ></ag-grid-angular>
        @if (items.length == 0) {
            <div class="app-no-data">
                {{ 'NoData' | localize }}
            </div>
        }
    </div>
}
