@if (settings) {
    <tabset>
        <tab class="p-5" heading="{{ 'UiCustomization_Layout' | localize }}">
            <div class="form">
                <form>
                    <div class="mb-5 row">
                        <h5 class="col">{{ 'UiCustomization_Width' | localize }}</h5>
                        <div class="col-lg-12">
                            <select [(ngModel)]="settings.layout.layoutType" class="form-select w-25" name="LayoutType">
                                <option value="fluid">{{ 'UiCustomization_Fluid' | localize }}</option>
                                <option value="fixed">{{ 'UiCustomization_Fixed' | localize }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab class="p-5" heading="{{ 'UiCustomization_Menu' | localize }}">
            <div class="form">
                <form>
                    <div class="mb-5 row">
                        <div class="col-lg-12">
                            <label class="form-check form-check-custom form-check-solid col-lg-12">
                                <input
                                    [(ngModel)]="settings.menu.searchActive"
                                    class="form-check-input"
                                    name="DefaultMinimizedAside"
                                    type="checkbox"
                                />
                                <span class="form-check-label">
                                    {{ 'ShowMenuSearchInput' | localize }}
                                </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab class="p-5" heading="{{ 'UiCustomization_Footer' | localize }}">
            <div class="form">
                <form>
                    <div class="mb-5 row">
                        <h5 class="col">{{ 'UiCustomization_Width' | localize }}</h5>
                        <div class="col-lg-12">
                            <select
                                [(ngModel)]="settings.footer.footerWidthType"
                                class="form-select w-25"
                                name="footerWidthType"
                            >
                                <option value="fluid">{{ 'UiCustomization_Fluid' | localize }}</option>
                                <option value="fixed">{{ 'UiCustomization_Fixed' | localize }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>
}
<div class="mt-4">
    @if ('Pages.Administration.UiCustomization' | permission) {
        <button (click)="updateDefaultUiManagementSettings()" class="btn btn-sm btn-primary">
            <i class="fa fa-save"></i>
            {{ 'SaveAsSystemDefault' | localize }}
        </button>
    }
    @if (!('Pages.Administration.UiCustomization' | permission)) {
        <button (click)="updateUiManagementSettings()" class="btn btn-sm btn-primary">
            <i class="fa fa-save"></i>
            {{ 'Save' | localize }}
        </button>
    }
    @if (!('Pages.Administration.UiCustomization' | permission)) {
        <button (click)="useSystemDefaultSettings()" class="btn btn btn-secondary btn-hover-brand">
            {{ 'UseSystemDefaults' | localize }}
        </button>
    }
</div>
