<div [@routerTransition]>
    <sub-header
        [description]="'UiCustomizationHeaderInfo' | localize"
        [title]="'VisualSettings' | localize"
    ></sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <tabset type="pills">
                    @for (themeSetting of themeSettings; track themeSetting) {
                        <tab [active]="themeSetting.theme == currentThemeName" customClass="pb-5">
                            <ng-template tabHeading>
                                <div class="theme-select-box">
                                    <img
                                        [src]="'/assets/common/images/metronic-themes/' + themeSetting.theme + '.png'"
                                        alt="theme{{ themeSetting.theme }}"
                                        width="150"
                                    />
                                    <span class="theme-name">{{ getLocalizedThemeName(themeSetting.theme) }}</span>
                                </div>
                            </ng-template>
                            @if (themeSetting.theme == 'default') {
                                <default-theme-ui-settings [settings]="themeSetting"></default-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme8') {
                                <theme8-theme-ui-settings [settings]="themeSetting"></theme8-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme11') {
                                <theme11-theme-ui-settings [settings]="themeSetting"></theme11-theme-ui-settings>
                            }
                        </tab>
                    }
                </tabset>
            </div>
        </div>
    </div>
</div>
