.responsive-entry-table {
    --responsive-entry-cell-width: 351px;
    --responsive-entry-cell-width-sm: 351px;
    --responsive-entry-cell-width-xs: 160px;
    --responsive-entry-cell-margin-top-sm: 0;
}

@media (min-width: 435px) and (max-width: 575px) {
    .responsive-entry-table { --responsive-entry-cell-width-sm: 205px; }
}

@media (max-width: 435px) {
    .responsive-entry-table { --responsive-entry-cell-width-sm: 160px; }
}

@media (max-width: 315px) {
    .responsive-entry-table {
        --responsive-entry-cell-width-sm: 170px;
        --responsive-entry-cell-width-xs: 170px;
        --responsive-entry-cell-margin-top-sm: 17px;
    }
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    td:nth-of-type(1)::before { content: 'S.N.'; }
    td:nth-of-type(2)::before { content: 'PRODUCT'; }
    td:nth-of-type(3)::before { content: 'PRODUCT GROUP'; }
    td:nth-of-type(4)::before { content: 'UNIT'; }
    td:nth-of-type(5)::before { content: 'RATE'; }
    td:nth-of-type(6)::before { content: 'GodOwn'; }
    td:nth-of-type(7)::before { content: 'RACK'; }
    td:nth-of-type(8)::before { content: 'OPENING QTY'; }
    td:nth-of-type(9)::before { content: 'EDIT'; }
    td:nth-of-type(10)::before { content: 'REMOVE'; }
}
