@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    td:nth-of-type(1)::before { content: 'S.N.'; }
    td:nth-of-type(2)::before { content: 'PRODUCT CODE'; }
    td:nth-of-type(3)::before { content: 'PRODUCT NAME'; }
    td:nth-of-type(4)::before { content: 'QTY'; }
    td:nth-of-type(5)::before { content: 'IMEI'; }
    td:nth-of-type(6)::before { content: 'UNIT'; }
    td:nth-of-type(7)::before { content: 'GodOwn'; }
    td:nth-of-type(8)::before { content: 'RACK'; }
    td:nth-of-type(9)::before { content: 'RATE'; }
    td:nth-of-type(10)::before { content: 'GROSS AMOUNT'; }
    td:nth-of-type(11)::before { content: 'DISCOUNT %'; }
    td:nth-of-type(12)::before { content: 'DISCOUNT'; }
    td:nth-of-type(13)::before { content: 'NET AMOUNT'; }
    td:nth-of-type(14)::before { content: 'TAX'; }
    td:nth-of-type(15)::before { content: 'TAX AMOUNT'; }
    td:nth-of-type(16)::before { content: 'TOTAL AMOUNT'; }
    td:nth-of-type(17)::before { content: 'EDIT'; }
    td:nth-of-type(18)::before { content: 'REMOVE'; }

    .upload-td:nth-of-type(1)::before { content: 'S.N.'; }
    .upload-td:nth-of-type(2)::before { content: 'FILE NAME'; }
    .upload-td:nth-of-type(3)::before { content: 'FILE TYPE'; }
    .upload-td:nth-of-type(4)::before { content: 'FILE'; }
    .upload-td:nth-of-type(5)::before { content: 'DELETE'; }
}
