<div [@routerTransition] class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="fw-bolder text-dark fs-h4 fs-h1-lg">
            {{ 'PasswordlessLogin' | localize }}
        </h3>
    </div>
    <form #passwordlessLoginForm="ngForm" (ngSubmit)="submit()" class="login-form form" method="post">
        @if (isSmsPasswordlessLoginEnabled && isEmailPasswordlessLoginEnabled) {
            <div>
                <p>{{ 'SelectPasswordlessLogin_Information' | localize }}</p>
                <div class="mb-5">
                    @if (isSmsPasswordlessLoginEnabled && isEmailPasswordlessLoginEnabled) {
                        <select
                            [(ngModel)]="selectedPasswordlessLoginProvider"
                            autoFocus
                            class="form-control form-control-solid h-auto px-6 rounded-lg fs-h6"
                            name="selectedPasswordlessLoginProvider"
                            size="1"
                        >
                            @for (provider of passwordlessLoginProviders; track provider) {
                                <option [value]="provider.value">{{ provider.text }}</option>
                            }
                        </select>
                    }
                </div>
            </div>
        }
        @if (+selectedPasswordlessLoginProvider === PasswordlessLoginProviderType.Email) {
            <div>
                <p>{{ 'PasswordlessLogin_EmailAddress_Information' | localize }}</p>
                <div class="mb-5">
                    <input
                        #emailAddressInput="ngModel"
                        [(ngModel)]="selectedProviderInputValue"
                        autoFocus
                        autocomplete="emailAddress"
                        class="form-control form-control-solid h-auto px-6 rounded-lg fs-h6"
                        name="selectedProviderInputValue"
                        placeholder="{{ 'EmailAddress' | localize }} *"
                        required
                        type="text"
                    />
                    @if (!emailAddressInput.touched) {
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    }
                </div>
            </div>
        }
        @if (+selectedPasswordlessLoginProvider === PasswordlessLoginProviderType.Sms) {
            <div>
                <p>{{ 'PasswordlessLogin_PhoneNumber_Information' | localize }}</p>
                <div class="mb-5">
                    <input
                        #phoneNumberInput="ngModel"
                        [(ngModel)]="selectedProviderInputValue"
                        autoFocus
                        autocomplete="phoneNumber"
                        class="form-control form-control-solid h-auto px-6 rounded-lg fs-h6"
                        name="selectedProviderInputValue"
                        placeholder="{{ 'PhoneNumber' | localize }} *"
                        required
                        type="text"
                    />
                    @if (!phoneNumberInput.touched) {
                        <validation-messages [formCtrl]="phoneNumberInput"></validation-messages>
                    }
                </div>
            </div>
        }
        <div class="pb-lg-0 pb-5">
            <button class="btn btn-sm btn-primary fw-bolder fs-h6 px-8 py-3 my-3 me-3" type="submit">
                {{ 'Submit' | localize }}
            </button>
        </div>
    </form>
</div>
