<a href="/">
    @if (!appSession.tenant || !appSession.tenant.HasLogo()) {
        <img [class]="customStyle" src="/assets/common/images/app-logo-on-{{ skin }}-sm.svg" />
    }
    @if (appSession.tenant && appSession.tenant.HasLogo()) {
        <img
            [class]="customStyle"
            [src]="
                remoteServiceBaseUrl +
                '/TenantCustomization/GetTenantLogo?skin=dark-sm' +
                '&tenantId=' +
                appSession.tenant.id
            "
            alt="logo"
        />
    }
</a>
