<div [@routerTransition]>
    <sub-header [title]="'DynamicPropertyManagement' | localize"></sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <tabset>
                        <tab class="p-5" heading=" {{ 'DynamicProperties' | localize }}">
                            <div class="row justify-content-end px-5 pb-5">
                                <div class="col">
                                    @if ('Pages.Administration.DynamicProperties.Create' | permission) {
                                        <button
                                            (click)="addNewDynamicProperty()"
                                            class="btn btn-sm btn-primary float-end"
                                        >
                                            <i class="fa fa-plus btn-md-icon"></i>
                                            <span class="d-none d-md-inline-block">
                                                {{ 'AddNewDynamicProperty' | localize }}
                                            </span>
                                        </button>
                                    }
                                </div>
                            </div>
                            <!--<AG-Grid-Start>-->
                            <div
                                [busyIf]="$safeNavigationMigration(dataTableHelper?.isLoading)"
                                class="ag-grid-container"
                            >
                                <ag-grid-angular
                                    #agGrid
                                    (gridReady)="onGridReady($event)"
                                    [columnDefs]="columnDefs"
                                    [defaultColDef]="{
                                        resizable: true,
                                        sortable: true,
                                        filter: true,
                                    }"
                                    [paginationPageSize]="dataTableHelper?.defaultRecordsCountPerPage || 10"
                                    [pagination]="false"
                                    [rowData]="rowData"
                                    class="ag-theme-balham"
                                    domLayout="autoHeight"
                                ></ag-grid-angular>
                                @if (rowData.length == 0) {
                                    <div class="ag-grid-no-data">
                                        {{ 'NoData' | localize }}
                                    </div>
                                }
                            </div>
                            <!--<AG-Grid-End>-->
                        </tab>
                        <tab class="p-5" heading=" {{ 'DynamicEntityProperties' | localize }}">
                            <dynamic-entity-property-list></dynamic-entity-property-list>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <dynamic-property-value-modal #dynamicPropertyValueModal></dynamic-property-value-modal>
        <create-or-edit-dynamic-property-modal
            #createOrEditDynamicProperty
            (modalSave)="getDynamicProperties()"
        ></create-or-edit-dynamic-property-modal>
    </div>
</div>
