<a [class]="anchorClass" href="/">
    @if (!appSession.tenant || !appSession.tenant.HasLogo()) {
        <img [class]="imageClass" [src]="defaultLogo" alt="Logo" />
    }
    @if (appSession.tenant && appSession.tenant.HasLogo()) {
        <img
            [class]="imageClass"
            [src]="
                remoteServiceBaseUrl +
                '/TenantCustomization/GetTenantLogo?skin=dark' +
                '&tenantId=' +
                appSession.tenant.id
            "
            alt="Logo"
        />
    }
</a>
