::ng-deep i.pi {
    width: 20px;
    display: block;
    height: 35px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

::ng-deep i.pi.pi-fw.pi-chevron-right:before {
    content: '';
    /* background: url('../../../assets/metronic/assets/media/svg/caret-right-fill.svg'); */
    /* background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA'); */
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -20px;
}

::ng-deep i.pi.pi-fw.pi-chevron-down:before {
    content: '';
    /* background: url('../../../assets/metronic/assets/media/svg/caret-down-fill.svg'); */
    /* background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA'); */
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -20px;
}

.ptree-thead {
    /* text-align: left !important; */
    /* padding: 0.75rem 0.75rem !important; */
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.87) !important;
    background: var(--bs-table-hcolor) !important;
    transition: none !important;
    border: 1px solid #8c8686;
}

.box-shadow {
    box-shadow: -7px 2px 16px 18px rgba(179, 179, 179, 0.14) !important;
}

th {
    padding: 0.15em;
    text-align: left;
    outline: initial;
    text-align: center;
    height: 40px;
    padding-bottom: 8px;
    border: 1px solid #ebe3e3;
}

td {
    padding: 0.15em;
    text-align: left;
    outline: initial;
    text-align: center;
    border: 1px solid #d1cece;
}