#portlet-detail .form-group div {
    padding: 8px;
}

.app-datatable-container th,
.app-datatable-container td {
    text-align: center;
}

#detailModal .modal-body {
    overflow-wrap: break-word;
}