<div [@routerTransition]>
    <sub-header [title]="'Subscription' | localize"></sub-header>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <tabset>
                    <tab class="p-5" heading="{{ 'SubscriptionInformation' | localize }}">
                        <form>
                            <h3 class="mb-10">Your Plan</h3>
                            <div class="card shadow-sm col-md-6 col-lg-4">
                                <div class="card-header">
                                    <div [class]="containerClass">
                                        <div class="row">
                                            @if (tenant.edition) {
                                                <div class="col-md-12 mt-10">
                                                    <small class="text-muted text-uppercase d-block">
                                                        {{ 'Edition' | localize }}
                                                    </small>
                                                    <h3 class="d-inline">
                                                        {{ tenant.edition.displayName }}
                                                    </h3>
                                                    @if (tenant.edition.isFree) {
                                                        <span class="badge badge-success">
                                                            {{ 'Free' | localize }}
                                                        </span>
                                                    }
                                                    @if (tenant.isInTrialPeriod) {
                                                        <span class="badge badge-warning">
                                                            {{ 'Trial' | localize }}
                                                        </span>
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="row my-5">
                                            <div class="col-md-6">
                                                <small class="text-muted text-uppercase d-block">
                                                    {{ 'SubscriptionStartDate' | localize }}
                                                </small>
                                                <h3 class="d-inline">
                                                    {{ tenant.creationTimeString }}
                                                </h3>
                                            </div>
                                            <div class="col-md-6">
                                                <small class="text-muted text-uppercase d-block">
                                                    {{ 'SubscriptionEndDate' | localize }}
                                                </small>
                                                <h3 class="d-inline">
                                                    {{ tenant.subscriptionDateString }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <small class="text-muted text-uppercase d-block mb-5">
                                        {{ 'WhatsIncludedInYourPlan' | localize }}
                                    </small>
                                    @if (tenant.featureValues && tenant.featureValues.length) {
                                        <div>
                                            @for (feature of tenant.featureValues; track feature) {
                                                <span
                                                    [ngClass]="{
                                                        'text-muted': feature.value == 'false',
                                                        'text-success': feature.value != 'false',
                                                    }"
                                                    class="text-left d-block mb-2"
                                                >
                                                    @if (feature.value == 'false') {
                                                        <i class="far fa-times-circle text-muted"></i>
                                                    }
                                                    @if (feature.value != 'false') {
                                                        <i class="far fa-check-circle text-success"></i>
                                                    }
                                                    {{ feature.name }}
                                                    @if (feature.value != 'false' && feature.value != 'true') {
                                                        <span>: {{ feature.value }}</span>
                                                    }
                                                </span>
                                            }
                                        </div>
                                    }
                                    @if (!tenant.featureValues || !tenant.featureValues.length) {
                                        <div>
                                            <p>
                                                {{ 'NoFeaturesInYourPlan' | localize }}
                                            </p>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <div
                                        [hidden]="
                                            tenant.subscriptionPaymentType != subscriptionPaymentType.RecurringAutomatic
                                        "
                                        class="mb-5 row"
                                    >
                                        <div class="col-md-12">
                                            <a
                                                (click)="disableRecurringPayments()"
                                                class="btn btn-secondary btn-lg w-100"
                                                href="javascript:;"
                                                id="btnDisableRecurringPayments"
                                            >
                                                {{ 'DisableRecurringPayments' | localize }}
                                            </a>
                                        </div>
                                    </div>
                                    <div
                                        [hidden]="
                                            tenant.subscriptionPaymentType != subscriptionPaymentType.RecurringManual
                                        "
                                        class="mb-5 row"
                                    >
                                        <div class="col-md-12">
                                            <a
                                                (click)="enableRecurringPayments()"
                                                class="btn btn-info btn-lg w-100"
                                                href="javascript:;"
                                                id="btnEnableRecurringPayments"
                                            >
                                                {{ 'EnableRecurringPayments' | localize }}
                                            </a>
                                        </div>
                                    </div>
                                    @if (
                                        !hasRecurringSubscription() &&
                                        tenant.edition &&
                                        !tenant.edition.isFree &&
                                        !tenant.isInTrialPeriod
                                    ) {
                                        <div class="mb-5 row">
                                            <div class="col-md-12">
                                                <a
                                                    (click)="startExtendSubscription()"
                                                    class="btn btn-info btn-lg w-100"
                                                >
                                                    {{ 'Extend' | localize }}
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    @if (tenant.isInTrialPeriod) {
                                        <div class="mb-5 row">
                                            <div class="col-md-12">
                                                <a
                                                    [queryParams]="{
                                                        editionId: tenant.edition.id,
                                                        tenantId: tenant.id,
                                                    }"
                                                    [routerLink]="['/account/buy']"
                                                    class="btn btn-info btn-lg w-100"
                                                >
                                                    {{ 'BuyNow' | localize }}
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    @if (
                                        tenant.edition && !tenant.edition.isHighestEdition && !tenant.isInTrialPeriod
                                    ) {
                                        <div class="mb-5 row">
                                            @if (!tenant.edition.isFree) {
                                                <div>
                                                    @for (editionToUpgrade of editions; track editionToUpgrade) {
                                                        <div class="col-md-12 mb-5">
                                                            <a
                                                                (click)="
                                                                    startUpdateSubscription(editionToUpgrade.edition.id)
                                                                "
                                                                class="btn btn-warning btn-lg w-100"
                                                            >
                                                                {{
                                                                    l('UpgradeTo', editionToUpgrade.edition.displayName)
                                                                }}
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                            @if (tenant.edition.isFree) {
                                                <div>
                                                    @for (editionToUpgrade of editions; track editionToUpgrade) {
                                                        <div class="col-md-12 mb-5 btn-group" dropdown>
                                                            <button
                                                                class="btn btn-warning btn-lg w-100 dropdown-toggle"
                                                                dropdownToggle
                                                                type="button"
                                                            >
                                                                {{
                                                                    l('UpgradeTo', editionToUpgrade.edition.displayName)
                                                                }}
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                                                <li role="menuitem">
                                                                    <a
                                                                        (click)="
                                                                            startUpdateSubscription(
                                                                                editionToUpgrade.edition.id,
                                                                                'Monthly'
                                                                            )
                                                                        "
                                                                        class="dropdown-item"
                                                                        href="javascript:;"
                                                                    >
                                                                        {{ 'Monthly' | localize }}
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem">
                                                                    <a
                                                                        (click)="
                                                                            startUpdateSubscription(
                                                                                editionToUpgrade.edition.id,
                                                                                'Annual'
                                                                            )
                                                                        "
                                                                        class="dropdown-item"
                                                                        href="javascript:;"
                                                                    >
                                                                        {{ 'Annual' | localize }}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </tab>
                    <tab class="p-5" heading="{{ 'PaymentHistory' | localize }}">
                        <div class="ag-grid-container">
                            <ag-grid-angular
                                (gridReady)="onGridReady($event)"
                                [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef"
                                [domLayout]="'autoHeight'"
                                [rowData]="rowData"
                                class="ag-theme-balham"
                            ></ag-grid-angular>
                        </div>
                        @if (dataTableHelper.totalRecordsCount == 0) {
                            <div class="app-no-data">
                                {{ 'NoData' | localize }}
                            </div>
                        }
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
<showDetailModal #showDetailModal></showDetailModal>
